<!DOCTYPE html>
<html lang="es">

<head>
  <title>Gestión Académica: Gestión Matriculas</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
    <div class="container m-3">
        <form class="row"
            th:object="${matricula}"
            method="post">

            <div class="form-control">
                <label for="asignaturaId">Selección de la asignatura a matricular/impartir:</label>
                <select class="form-select" name="asignaturaId">
                    <option th:each="asignatura : ${asignaturas}"
                            th:value="${asignatura.id}"
                            th:text="|${asignatura.nombre} ${asignatura.ciclo} ${asignatura.curso}|"
                            th:selected="${asignatura.id == asignatura_actual.id}"></option>
                </select>
            </div>
           
            <div>
                <button class="btn btn-success mt-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>